.bannerTitle{
    font-size: 70px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}
.customButton{
    border-radius: 8px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}
.registerButton{
    border-style: solid 2px;
    border-color: grey;
    border-radius: 8px;
}
p, nav{
    color: hsl(0, 0%, 41%) !important;
}
body{
    font-family: 'Epilogue', sans-serif;
}
p{
    font-size: 18px
}
.paragraph{
    padding-top: 50px;
    padding-bottom: 50px;
}
.brandsRow{
    padding-top: 50px;
    padding-bottom: 50px;
}